<%= content_for(:title) %>
<section class="bg-pale-beige h-[calc(100vh_-_64px)] flex justify-end relative">
  <%= image_tag 'top.png', class: "sm:w-2/3 w-full h-full object-contain" %>
  <div class="absolute xl:top-40 lg:top-32 top-16 lg:left-20 md:left-12 sm:left-4 text-terracotta p-10">
    <p class="lg:text-xl md:text-lg text-normal tracking-widest opacity-70">1日のおわりに、今日あった</p>
    <p class="lg:text-xl md:text-lg text-normal tracking-widest opacity-70 mb-4">嬉しかったこと、楽しかったこと、頑張ったこと をふりかえりましょう</p>
    <p class="lg:text-base md:text-sm text-xs tracking-wide opacity-60 font-top">Find happiness in your life</p>
  </div>
</section>

<section class="min-h-screen md:px-14 px-4 flex items-center justify-center bg-white">
  <div class="flex md:flex-row flex-col items-center justify-center w-full h-full">
    <div class="md:w-1/2 w-full md:my-3 my-10">
      <%= image_tag "posts-image.png", class: "w-full h-auto rounded-2xl border border-zinc-200" %>
    </div>
    <div class="md:w-1/2 w-full xl:pl-10 lg:pl-6 md:pl-4">
      <div class="flex items-center justify-center md:justify-start md:mb-0 mb-4">
        <%= image_tag 'pencil.png', class: 'xl:w-16 lg:w-14 w-10 mr-1' %>
        <h1 class="xl:text-3xl md:text-2xl text-xl font-semibold inline-block">ポジティブ<span class="xl:text-2xl md:text-xl text-lg">なできごとを</span>3<span class="xl:text-2xl md:text-xl text-lg">つ書こう</span></h1>
      </div>
      <p class="lg:text-base text-xs
        特に何もなかったような日でも、<br />mb-10 xl:ml-20 lg:ml-16 md:ml-12 leading-loose text-center md:text-left">
        小さな幸せは、意外と身の回りにたくさんある。<br />
        このアプリがその発見のキッカケになりますように…<br />
        <br />
        日記を書いたあとは、
        「いい1日だったね！」と想いを込めながら、<br />
        日記にたくさんClap<i class="fa-solid fa-hands-clapping mx-1"></i>ボタンを押しましょう。<br />
        きっとポジティブな感情が増幅されるはずです…！<br />
        <br />
        まずは3日間続けてみましょう！
      </p>
      <div class="flex md:flex-row flex-col md:justify-end justify-center items-center my-10">
        <%= link_to t('link.login'), login_path, class: "btn secondary-button btn btn-xs sm:btn-sm md:btn-md mr-1 md:mb-0 mb-4 md:w-auto w-1/2" %>
        <%= link_to t('link.to_diaries_before_login'), diaries_path, class: "btn secondary-reverse-button btn btn-xs sm:btn-sm md:btn-md md:w-auto w-1/2" %>
      </div>
    </div>
  </div>
</section>
