<%= content_for(:title, t('.title')) %>
<div class="flex flex-col grow items-center justify-center w-full h-full bg-pale-beige px-4">
  <div class="w-full max-w-md">
    <h1 class="sm:text-2xl text-xl my-4 text-center"><%= t('.title') %></h1>

    <%= form_with(model: @user, url: update_password_profile_path, class: 'space-y-4') do |form| %>
      <%= render 'shared/error_messages', object: form.object %>

      <div class="flex flex-col">
        <%= form.label :current_password, t('.current_password'), class: "mb-2 ml-1" %>
        <%= form.password_field :current_password, class: 'p-2 border rounded input input-bordered w-full max-w-x', placeholder: '8文字以上で入力' %>
      </div>

      <div class="flex flex-col">
        <%= form.label :password, t('.password'), class: "mb-2 ml-1" %>
        <%= form.password_field :password, class: 'p-2 border rounded input input-bordered w-full max-w-x', placeholder: '8文字以上で入力' %>
      </div>

      <div class="flex flex-col">
        <%= form.label :password_confirmation, t('.password_confirmation'), class: "mb-2 ml-1" %>
        <%= form.password_field :password_confirmation, class: 'p-2 border rounded input input-bordered w-full max-w-x', placeholder: '確認のためにもう一度入力'%>
      </div>

      <div class="flex flex-col">
        <%= form.submit class: "primary-button p-2 mt-10 rounded-full text-center" %>
      </div>
    <% end %>

    <div class="my-10 text-sm">
      <%= link_to t('link.to_profile'), profile_path, class: 'link text-terracotta' %>
    </div>
  </div>
</div>