<%= content_for(:title, t('.title')) %>
<div class="flex flex-col grow items-center justify-center w-full h-full bg-pale-beige">
  <h1 class="sm:text-2xl text-xl my-4 text-center"><%= t('.title') %></h1>

  <!-- アカウント情報エリア -->
  <div class="bg-white rounded-xl p-6 md:w-2/3 w-11/12 mt-4 mb-16">
    <div class="overflow-x-auto">
      <div class="flex flex-row justify-center items-center">
        <p class="mb-4 font-medium"><%= t('.user_info') %></p>
      </div>
      <table class="table">
        <tr></tr>
        <% if current_user.is_member %>
          <tr class="h-16">
            <th scope="row" class="text-left w-5/12"><%= User.human_attribute_name(:name) %></th>
            <td><%= current_user.name %></td>
          </tr>
          <tr class="h-16">
            <th scope="row" class="text-left w-5/12"><%= User.human_attribute_name(:email) %></th>
            <td><%= current_user.email %></td>
          </tr>
        <% end %>
        <tr class="h-32">
          <th scope="row" class="text-left w-5/12"><%= User.human_attribute_name(:avatar_image) %></th>
          <td><%= image_tag current_user.avatar_image_url, class: 'rounded-full mt-2 object-cover border border-zinc-200', style: "width: 100px; height: 100px;" %></td>
        </tr>
        <tr class="h-32">
          <th scope="row" class="text-left w-5/12"><%= User.human_attribute_name(:character_image) %></th>
          <td><%= image_tag current_user.character_image_url, class: 'rounded-full mt-2 object-cover border border-zinc-200', style: "width: 100px; height: 100px;" %></td>
        </tr>
        <tr></tr>
      </table>
      <div class="flex flex-row justify-end">
        <%= link_to t('link.change'), edit_profile_path, class: 'btn secondary-reverse-button mt-4' %>
      </div>
    </div>
  </div>

  <!-- パスワードエリア -->
  <% if current_user.is_member && !current_user.logged_in_with_oauth? %>
    <div class="bg-white rounded-xl p-6 mb-16 md:w-2/3 w-11/12">
      <div class="overflow-x-auto">
        <div class="flex flex-row justify-center items-center">
          <p class="mb-4 font-medium"><%= t('.password') %></p>
        </div>
        <table class="table">
          <tr></tr>
          <tr class="h-16">
            <th scope="row" class="text-left w-5/12"><%= User.human_attribute_name(:password) %></th>
            <td >*****</td>
          </tr>
          <tr></tr>
        </table>
        <div class="flex flex-row justify-between items-center pl-4">
          <span class="sm:text-sm text-xs mr-2"> ※ セキュリティのためパスワードは非表示となっています</span>
          <%= link_to t('link.change'), edit_password_profile_path, class: 'btn secondary-reverse-button mt-4' %>
        </div>
      </div>
    </div>
  <% elsif !current_user.is_member %>
    <div class="flex flex-row justify-end items-center mb-16 md:w-2/3 w-11/12">
      <p>会員登録して使う</p>
      <%= link_to t('.signup'), new_user_path, class: 'btn secondary-button ml-2' %>
    </div>
  <% end %>

  <!-- 退会エリア -->
  <% if current_user.is_member %>
    <div class="flex flex-row justify-end items-center mb-16 md:w-2/3 w-11/12">
      <p>退会する</p>
      <%= link_to t('.cancel_membership'), user_path(current_user), class: 'btn cancel-button ml-2', data: { turbo_method: :delete, turbo_confirm: '退会しますか？' } %>
    </div>
  <% end%>
</div>