<%= content_for(:title, t('.title')) %>
<div class="flex flex-col grow items-center justify-center w-full h-full bg-pale-beige">
  <div class="w-full max-w-md">
    <h1 class="text-2xl mb-4 text-center"><%= t('.title') %></h1>
    <%= form_with model: @user, url: password_reset_path(@token), class: 'space-y-4' do |f| %>
      <div class="flex flex-col">
        <%= f.label :email, class: 'mb-2 ml-1' %>
        <p class="p-2"><%= @user.email %><p>
      </div>
      <div class="flex flex-col">
        <%= f.label :password, class: 'mb-2 ml-1' %>
        <%= f.password_field :password, class: 'p-2 border rounded input input-bordered w-full max-w-x' %>
      </div>
      <div class="flex flex-col">
        <%= f.label :password_confirmation, class: 'mb-2 ml-1' %>
        <%= f.password_field :password_confirmation, class: 'p-2 border rounded input input-bordered w-full max-w-x' %>
      </div>
      <div class="flex flex-col">
        <%= f.submit t('.submit'), class: 'primary-button mt-4 p-2 rounded-full' %>
      </div>
    <% end %>
  </div>
</div>