<%= form_with(model: diary, class: "contents") do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="js-text-area-container my-5">
    <%= form.label :content1 %>
    <%= form.text_area :content1, rows: 4, class: "js-text block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: '140文字以内で入力してください' %>
    <p class="js-text-count text-right"></p>
  </div>

  <div class="js-text-area-container my-5">
    <%= form.label :content2 %>
    <%= form.text_area :content2, rows: 4, class: "js-text block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: '140文字以内で入力してください' %>
    <p class="js-text-count text-right"></p>
  </div>

  <div class="js-text-area-container my-5">
    <%= form.label :content3 %>
    <%= form.text_area :content3, rows: 4, class: "js-text block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: '140文字以内で入力してください' %>
    <p class="js-text-count text-right"></p>
  </div>

  <div class="flex flex-row">
    <div class="label cursor-pointer inline-flex mr-4 my-5">
      <%= form.label :allow_publication, class: 'label-text mr-1' %>
      <%= form.check_box :allow_publication, class: "w-5 h-5 cursor-pointer border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" %>
    </div>

    <div class="label cursor-pointer inline-flex my-5">
      <%= form.label :allow_comments, class: 'label-text mr-1' %>
      <%= form.check_box :allow_comments, class: "w-5 h-5 cursor-pointer border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" %>
    </div>
  </div>

  <div class="flex justify-center">
    <%= form.submit class: "primary-button w-48 rounded-full py-3 px-5 inline-block" %>
  </div>
<% end %>
