<%= content_for(:title, t('.title')) %>
<div class="flex flex-col grow bg-pale-beige items-center justify-center w-full h-full">
  <div class="flex flex-row justify-center">
    <h1 class="text-2xl mt-10 text-center inline tracking-wider">日記編集</h1>
    <%= image_tag 'diary.png', class: 'h-24 w-24 bg-cover' %>
  </div>

  <%= render "form", diary: @diary %>

  <%= link_to "Show this diary", @diary, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to diaries", diaries_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
