<%= content_for(:title, t('.title')) %>
<div class="flex flex-col grow bg-pale-beige items-center justify-center w-full h-full">
  <div class="flex flex-row justify-center">
    <h1 class="text-2xl mt-10 text-center inline tracking-wider"><%= t('.title') %></h1>
    <%= image_tag 'diary.png', class: 'h-24 w-24 bg-cover' %>
  </div>

  <div class="container mx-auto mt-2 mb-24">
    <div id="diary">
      <%= render @diary %>
    </div>

    <% if @diary.allow_comments %>
      <%= render 'comments/form', comment: @comment, diary: @diary %>

      <div class="flex flex-col justify-center items-center mt-5" id="comments">
        <%= render @comments %>
      </div>
    <% end %>

    <div class="flex flex-row justify-end mt-24">
      <div>
        <%= link_to t('link.to_diaries'), diaries_path, class: 'text-terracotta link link-hover' %>
        <%= link_to t('link.to_my_diaries'), my_diaries_diaries_path, class: 'text-terracotta link link-hover ml-4' %>
      </div>
    </div>
  </div>
</div>
