<%= content_for(:title, t('.title')) %>
<div class="flex flex-col grow bg-pale-beige items-center justify-center w-full h-full">
  <div class="flex flex-row justify-center">
    <h1 class="text-2xl mt-10 text-center inline tracking-wider">日記詳細</h1>
    <%= image_tag 'diary.png', class: 'h-24 w-24 bg-cover' %>
  </div>

  <div class="container mx-auto mt-2 mb-24">
    <%= render @diary %>

    <% if @diary.allow_comments %>
      <%= render 'comments/form', comment: @comment, diary: @diary %>

      <div class="flex flex-col items-center mt-5">
        <%= render @comments %>
      </div>
    <% end %>

    <div class="flex flex-row justify-end mt-24">
      <div>
        <%= link_to 'みんなの日記へ', diaries_path, class: 'text-terracotta link link-hover' %>
        <%= link_to 'My日記へ', my_diaries_diaries_path, class: 'text-terracotta link link-hover ml-4' %>
      </div>
    </div>
  </div>
</div>
