<header class="bg-pale-beige">
  <nav class="flex justify-between items-center md:px-14 px-4 md:h-16 h-12">
    <div class="flex items-center h-full">
      <%= link_to root_path, class:"h-2/3" do %>
        <%= image_tag "logo.png", class:"h-full" %>
      <% end %>
    </div>

    <div class="flex items-center">
      <% color = current_user.decorate.medal_color %>
      <% unless color.nil? %>
        <div class="flex-none">
          <i class="fa-solid fa-medal" style="color: <%= color %>"></i>
        </div>
      <% end %>
      <div class="flex flex-1 ml-2.5 avatar items-center h-full">
        <div class='md:w-10 w-8 md:h-10 h-8 md:my-0 my-1 flex justify-center items-center'>
          <%= image_tag current_user.avatar_image_url, class:'rounded-full' %>
        </div>
        <p class="ml-1 leading-10 h-2/3 truncate max-w-xs md:text-sm text-xs"><%= current_user.name %></p>
      </div>

      <div class="flex-none dropdown dropdown-end ml-3">
        <label tabindex="0" class="btn m-1">Click</label>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li class="flex-none ml-1.5">
            <%= link_to t('header.diaries'), diaries_path, class: 'cursor-pointer' %>
          </li>
          <li class="flex-none ml-1.5">
            <%= link_to t('header.new_diary'), new_diary_path, class: 'cursor-pointer' %>
          </li>
          <li class="flex-none ml-1.5">
            <%= link_to t('header.my_diaries'), my_diaries_diaries_path, class: 'cursor-pointer' %>
          </li>
          <li class="flex-none ml-1.5">
            <%= link_to t('header.profile'), profile_path, class: 'cursor-pointer' %>
          </li>
          <li class="flex-none ml-1.5">
            <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete }, class: 'cursor-pointer' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>