<header>
  <nav class="navbar bg-pale-beige px-14 h-16">
    <div class="flex-1">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class:"w-25 h-10" %>
      <% end %>
    </div>

    <%#
      <div class="flex-none ml-2.5">
        <i class="fa-solid fa-medal"></i>
      </div>
    %>
    <div class="flex-none ml-2.5 avatar">
      <div class='w-10'>
        <%= image_tag current_user.avatar_image_url, class:'rounded-full border border-zinc-200' %>
      </div>
      <div class="ml-1 h-10 min-w-20 max-w-32">
        <p class="leading-10 h-10 truncate text-sm"><%= current_user.name %></p>
      </div>
    </div>

    <div class="flex-none dropdown dropdown-end ml-3">
      <button class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      </button>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li class="flex-none ml-1.5">
          <%= link_to t('header.diaries'), '#', class: 'cursor-pointer' %>
        </li>
        <li class="flex-none ml-1.5">
          <%= link_to t('header.new_diary'), '#', class: 'cursor-pointer' %>
        </li>
        <li class="flex-none ml-1.5">
          <%= link_to t('header.my_diaries'), '#', class: 'cursor-pointer' %>
        </li>
        <li class="flex-none ml-1.5">
          <%= link_to t('header.logout'), '#', data: { turbo_method: :delete }, class: 'cursor-pointer' %>
        </li>
      </ul>
    </div>
  </nav>
</header>