<!DOCTYPE html>
<html>
  <head>
    <title>IllumiDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

     <script src="https://kit.fontawesome.com/c374422d5b.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen flex flex-col">
    <%= render "shared/header" %>
    <main class="flex flex-col flex-grow items-center justify-center px-5 text-gray-600 body-font mb-20">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
